/* 초기화 - 태그 안쓰게되면 지우기*/
body,
h1,
h2,
h3,
h4,
p,
button,
fieldset,
legend,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
button:enabled {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GmarketSansMedium";
}
